.root{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100vw;
  height:100vh;
  background-color: black;
}

.MainWrapper{
  background-color: blueviolet;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  flex-direction: column;
}

.CompWrapper{
  width: 300px;
  height: 200px;
  background-color: azure;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}